* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px calc(100vh - 250px) 100px 50px;
}

header {
    background-color: rgb(209, 209, 209);
    padding: 1rem;
}

h1, h2 {
    text-align: center;
    margin: 5px;
}

.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border:1px solid black;
}

canvas:hover {
    cursor: pointer;
}

.controls {
    background-color: rgb(209, 209, 209);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: white;
    font-size: 1.5rem;
    padding: 5px;
    margin: 1rem;
    border-radius: 5px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speed,.size {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: rgb(209, 209, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer>* {
    margin: 5px;
}